/* 
    Created on : 28/09/2015, 01:37:47 PM
    Author     : odelarosa
*/

body {
    padding: 0 0;
    margin: 0;
}

.z-window-content {
    padding: 0 0;
    margin: 0;
}

.login-form {
    background:#eee;
    padding: 10px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
}

.z-row:hover > .z-row-inner, .z-row:hover > .z-cell {
        background: none;
}